In [ ]:
# -----********************-----

# Created Time: 2024/12/13

# Last updated: 2024/12/13

# Author: Yiyi He

### Use Case

# This notebook add new variables into the dataframe
# 1. 

# -----********************-----

# Libraries

In [3]:
# Import libraries
import os
import warnings
warnings.filterwarnings("ignore")

import pandas as pd

In [17]:
# Load input dataframes
df_518 = pd.read_csv("/Users/yiyi/Desktop/df_for_model.csv")
station_50km_forest_perc = pd.read_csv('/Users/yiyi/Library/CloudStorage/OneDrive-GeorgiaInstituteofTechnology/Research/Energy_resilience/01_data/2024_9_10_Tingyu/processed/station_utm_50km_forest_perc.csv')

# Add forest percentage in 50km buffer zone
df_518_50km_forest_perc = pd.merge(df_518, station_50km_forest_perc[['station_id', 'forest_per']], on='station_id', how='left')
df_518_50km_forest_perc.head(3)
# df_518_50km_forest_perc.to_csv('/Users/yiyi/Library/CloudStorage/OneDrive-GeorgiaInstituteofTechnology/Research/Energy_resilience/01_data/2024_9_10_Tingyu/processed/station_518_50km_forest_perc_df.csv')

In [18]:
df_518_50km_forest_perc

,datetime,pct_blackout,wind_forest_cover,t2m,tp,wind_speed,station_id,climate_zone_code,forest_per
0,2014-11-17 17:00:00,0.000000,0.0,295.09723,5.645638e-04,1.310930,495,Aw,0.00060
1,2014-11-29 17:00:00,0.000000,0.0,293.04870,0.000000e+00,2.215274,495,Aw,0.00060
2,2014-11-30 22:00:00,0.000000,0.0,289.83447,4.351137e-07,2.000125,495,Aw,0.00060
3,2014-11-13 07:00:00,0.000000,0.0,297.14110,6.666072e-04,3.900476,495,Aw,0.00060
4,2014-12-31 15:00:00,0.000000,0.0,296.46838,2.732359e-06,2.988735,495,Aw,0.00060
...,...,...,...,...,...,...,...,...,...
7044374,2016-06-03 15:00:00,0.000000,0.0,310.37060,5.161390e-06,1.261605,24,BSh,0.00065
7044375,2016-11-23 13:00:00,0.133333,0.0,298.23236,0.000000e+00,1.544500,24,BSh,0.00065
7044376,2016-12-01 01:00:00,0.000000,0.0,291.30194,0.000000e+00,0.753274,24,BSh,0.00065
7044377,2016-05-21 07:00:00,0.000000,0.0,312.40796,0.000000e+00,6.349144,24,BSh,0.00065
7044378,2016-09-24 08:00:00,0.000000,0.0,304.88696,2.526566e-04,2.738008,24,BSh,0.00065